.attention-component {
    width: 100%;
    padding: 20px;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attention-component * {
    margin: 0;
    padding: 0;
}
.attention-component .inner {
    background-color: rgba(244, 244, 244, 1);
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.attention-component .close {
    margin-bottom: 10px;
}
.attention-component .title {
    font-size: 20px;
    margin-bottom: 10px;
}
.attention-component .content {
    font-size: 16px;
}
